<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/css/favico.ico">
    <title>My Health | Status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/faq.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/">MY HEALTH</a> 
        </div>
    </nav> 

    <div class="container-fluid">
        <h2>Frequently Asked Questions (FAQs)</h2>
        <br>
        <div class="accordion">
            <div class="icon"></div>
            <h5>What is &nbsp;'My Health' ?</h5>
        </div>
        <div class="panel">
            <p>My Health is a user-friendly web application where the user can enter his/her daily readings of Blood Pressure, Pulse and SPO2.
            <br>
            The user can track his health status using our application which will show the user his/her all of the different readings seperately 
            or in a combined graph, whichever preferred.</p>
        </div>
        <div class="accordion">
            <div class="icon"></div>
            <h5>What if I enter multiple readings of one day?</h5>
        </div>
        <div class="panel">
            <p>If multiple readings of the same day are entered then the average of all the readings of that day will be taken into account.</p>
        </div>
        <div class="accordion">
            <div class="icon"></div>
            <h5>What if I skip the readings of a day?</h5>
        </div>
        <div class="panel">
            <p>The user can skip the readings of a day without any issue. The skipped readings won't be shown in their respective graphs. 
                For combined graph section, two different cases arise.
                <br>
                Case 1:&nbsp;If the user skips all the readings except atleast one then only the non-skipped type of reading will be shown in
                the combined graph.
                <br>
                Case 2:&nbsp;If the user skips all the readings then that day won't be included in the combined graph.
            </p>
        </div>
        <div class="accordion">
            <div class="icon"></div>
            <h5>What if I clear the browser data?</h5>
        </div>
        <div class="panel">
            <p>On clearing the browser data, all of the user's data will get lost as the user's health information is stored in local storage
                which gets wiped out on clearing the browser data.</p>
        </div>
        <div class="accordion">
            <div class="icon"></div>
            <h5>Can I recover my data after resetting the application?</h5>
        </div>
        <div class="panel">
            <p>NO. The deleted data cannot be recovered.</p>    
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

<script>
    var acc = document.getElementsByClassName('accordion');
    var i;
    var len = acc.length;
    for(i =0; i<len; i++){
        acc[i].addEventListener('click', function() {
            this.classList.toggle('active');
            var panel = this.nextElementSibling;
            if(panel.style.maxHeight) {
                panel.style.maxHeight = null;
            }
            else{
                panel.style.maxHeight = panel.scrollHeight + 'px';
            }
        })
    }
</script>

</html>