<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/css/favico.ico">
    <title>My Health | Status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/faq.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/">MY HEALTH</a> 
        </div>
    </nav> 

    <div class="container-fluid">
        <h2>Frequently Asked Questions (FAQs)</h2>
        <div class="accordion">
            <div class="icon"></div>
            <h5>What is 'My Health' ?</h5>
        </div>
        <div class="panel">
            <p>Answer 1.</p>
        </div>
        <div class="accordion">
            <div class="icon"></div>
            <h5>What happens if we enter multiple readings of one day?</h5>
        </div>
        <div class="panel">
            <p>Answer 2.</p>
        </div>
        <div class="accordion">
            <div class="icon"></div>
            <h5>What happens if we skip the readings of a day?</h5>
        </div>
        <div class="panel">
            <p>Answer 3.</p>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

<script>
    var acc = document.getElementsByClassName('accordion');
    var i;
    var len = acc.length;
    for(i =0; i<len; i++){
        acc[i].addEventListener('click', function() {
            this.classList.toggle('active');
            var panel = this.nextElementSibling;
            if(panel.style.maxHeight) {
                panel.style.maxHeight = null;
            }
            else{
                panel.style.maxHeight = panel.scrollHeight + 'px';
            }
        })
    }
</script>

</html>