* {
    box-sizing: border-box;
    font-size: 1.2vw;
}

body {
    margin: 0;
    top: 0;
    bottom: 0;
}

.container {
    padding-top: 10vh;
    height: auto;
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#msg {
    display: none;
    top: 15vh;
    position: fixed;
    z-index: 1;
}

.logo a{
    font-size: x-large;
    color: black;
    text-decoration: none;
}

.navbar {
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: lightcyan;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-between;
}

.navbar div:nth-child(1){
    font-weight: 800;
    max-width: 80%;
}

.navbar div:nth-child(2){
    width: auto;
}

.navbar-buttons {
    display: flex;
    justify-content: space-around;
}

.navbar-buttons a{
    background-color: white;
    margin-right: 3px;
}


@media (orientation: portrait) {
    .navbar{
        height: 10vh;
    }
    .logo a{
        font-size: x-large;
    }
    .navbar-buttons a{
        font-size: 4vw;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-right: 2vw;
    }
    .navbar-buttons button{
        font-size: 4vw;
    }
    .add_data input{
        font-size: 4vw;
        width: 27vw;
        margin-bottom: 25px;
    }
    .add_data button{
        margin-top: 4vh;
        font-size: 5vw;
        width: 27vw;
        margin-bottom: 25px;
    }
    #msg {
        font-size: 4vw;
    }
}